@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>ASP.NET Core Culture Route Parameter</title>
</head>
<body>
  @RenderBody()
</body>
</html>