@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
<h1>ASP.NET Core Culture Route Parameter</h1>
<p>Current culture: @System.Globalization.CultureInfo.CurrentCulture.DisplayName</p>
<p>Current UI culture: @System.Globalization.CultureInfo.CurrentUICulture.DisplayName</p>
<p>Try to navigate to /{culture}/</p>
<p>Supported cultures are: en, ru, uk</p>